Debugging Trace<br/><b>Start looking for all strongly connected components in the main graph</b><br/>SCC: ['13', '15', '14', '17', '16', '19', '18', '22', '20', '21']<br/><i>Size of component is 10 and exceeds the maximum size of 4</i><br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>Start looking for strongly connected components in the current component</b><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>Start looking for branches</b><br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>End looking for branches</b><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>End looking for strongly connected components in the current component</b><br/><b>End looking for all strongly connected components in the main graph</b><br/><br/><b>Start looking for branches</b><br/>Processing branch forking at node 23 and joining at node 24<br/><i>Size of branch structure is 6 and exceeds the maximum size of 4</i><br/>Processing branch forking at node 29 and joining at node 30<br/><i>Size of branch structure is 31 and exceeds the maximum size of 4</i><br/>Processing branch forking at node 44 and joining at node 45<br/><i>Size of branch structure is 17 and exceeds the maximum size of 4</i><br/><b>End looking for branches</b><br/>Removing nodes ['1', '23', '27']
Removing nodes ['26', '28', '24']
Removing nodes ['4', '8', '29']
Removing nodes ['32', '33', '34']
Removing nodes ['44', '46', '47']
Removing nodes ['49', '50', '51']
Removing nodes ['53', '54', '55']
Removing nodes ['57', '58', '59']
Removing nodes ['45', '37', '38']
Removing nodes ['40', '41', '42']
Removing nodes ['30', '13', '14']
Removing nodes ['16', '17', '18']
Removing nodes ['20', '21', '22']
Removing nodes ['12', '6', '7']
